<div class="row gy-2">
  <!-- filter -->
  <p-multiSelect
    [options]="seriesList"
    [showClear]="true"
    [showToggleAll]="false"
    [(ngModel)]="selectedSeries"
    (onChange)="selectedSeriesChange($event)"
    (onClear)="selectedSeriesClear()"
    [defaultLabel]="'Select_Series' | translate"
    scrollHeight="350px"
    class="col-6">
    <ng-template let-value pTemplate="selectedItems">
      <span
        class="flex align-items-center gap-2"
        *ngFor="let item of selectedSeries">
        {{ 'Series.' + item.label | translate }}
      </span>
      <div *ngIf="!selectedSeries || selectedSeries.length === 0">
        {{ 'Select_Series' | translate }}
      </div>
    </ng-template>
    <ng-template let-item pTemplate="item">
      <div class="flex align-items-center">
        <span>{{ 'Series.' + item.label | translate }}</span>
      </div>
    </ng-template>
  </p-multiSelect>
  <p-multiSelect
    [options]="groupedCharacters"
    [group]="true"
    [showClear]="true"
    [showToggleAll]="false"
    [(ngModel)]="selectedCharacters"
    (onChange)="selectedCharactersChange($event)"
    (onClear)="selectedCharactersClear()"
    [defaultLabel]="'Select_Characters' | translate"
    scrollHeight="350px"
    class="col-6">
    <ng-template let-value pTemplate="selectedItems">
      <span
        class="flex align-items-center gap-2"
        *ngFor="let item of selectedCharacters">
        {{ 'Character.' + item.label | translate }}
      </span>
      <div *ngIf="!selectedCharacters || selectedCharacters.length === 0">
        {{ 'Select_Characters' | translate }}
      </div>
    </ng-template>
    <ng-template let-group pTemplate="item">
      <div class="flex align-items-center">
        <span>{{ 'Character.' + group.label | translate }}</span>
      </div>
    </ng-template>
    <ng-template let-group pTemplate="group">
      <div class="flex align-items-center">
        <span>{{ 'School.' + group.label | translate }}</span>
      </div>
    </ng-template>
  </p-multiSelect>
</div>
