<div class="row gy-2">
  <!-- filter -->
  <p-multiSelect
    [options]="seriesList"
    [showClear]="true"
    [showToggleAll]="false"
    [(ngModel)]="selectedSeries"
    (onChange)="selectedSeriesChange($event)"
    (onClear)="selectedSeriesClear()"
    [defaultLabel]="'Select_Series' | translate"
    scrollHeight="350px"
    class="col-6">
    <ng-template let-group pTemplate="item">
      <div class="flex align-items-center">
        <span>{{ 'Series.' + group.label | translate }}</span>
      </div>
    </ng-template>
  </p-multiSelect>
  <p-multiSelect
    [options]="groupedCharacters"
    [group]="true"
    [showClear]="true"
    [showToggleAll]="false"
    [(ngModel)]="selectedCharacters"
    (onChange)="selectedCharactersChange($event)"
    (onClear)="selectedCharactersClear()"
    [defaultLabel]="'Select_Characters' | translate"
    scrollHeight="350px"
    class="col-6">
    <ng-template let-group pTemplate="item">
      <div class="flex align-items-center">
        <span>{{ 'Character.' + group.label | translate }}</span>
      </div>
    </ng-template>
    <ng-template let-group pTemplate="group">
      <div class="flex align-items-center">
        <span>{{ 'School.' + group.label | translate }}</span>
      </div>
    </ng-template>
  </p-multiSelect>
</div>
