
.image-button{
  cursor: pointer;
  position: relative;
  border: none;
  border-radius: 20px;
  background-position: center;
  background-color: #ffffff;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.8s;
  padding: 10px 10px;
  height: 100px;

  &:hover {
    box-shadow: 0 0 4px #999;
    // color: #FFFFFF;
    // background: #dcdcdc radial-gradient(circle, transparent 1%, #e0e0e0 1%) center/15000%;
  }
  &:active {
    // opacity: 0.8;
    // background-color: #c5c5c5;
    // background-size: 100%;
    // transition: background 0s;
  }
}

.goods-image {
  width: 100%;
  height: 100%;
}

.checked-badge {
  position: absolute;
  width: 4rem;
  height: 4rem;
  bottom: 0px;
  right: 0px;
  background-color: rgb(255, 153, 0);
  border-radius: 50%;
  opacity: 0.5;
}
