:host ::ng-deep {
  .p-multiselect {
    width: 100%;
    height: 50px;
  }
}

.goods-list {
  .goods {
    margin-top: 0.25rem;
    &:not(:last-child){
      margin-right: 0.25rem;
    }
  }
}
.title {
  font-size: x-large;
  font-weight: bold;
}
.export-btn {
  cursor: pointer;
}
